@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Lexend&family=Mulish:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
button {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
button:active {
  scale: 0.8;
}
label {
  cursor: pointer;
}
::-webkit-input-placeholder {
  text-transform: capitalize;
}
html,
body {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}
.Wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  will-change: scroll-position;
  transition: all 0.3s ease-in-out;
}
/* Navbar Start */
.Navbar {
  width: 100%;
  position: fixed;
  margin: 0 auto;
  top: 0;
  height: 156px;
  background: #22222220;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 55;
}
.nav__Router {
  width: 100%;
  height: 100%;
  display: flex;
}
.Navbar > .nav__Router > a {
  font-family: "Kanit", sans-serif;
  font-size: 25px;
  color: #fff;
  width: 280px;
  height: 100%;
  display: flex;
  font-weight: 500 !important;
  align-items: center;
  justify-content: center;
  transition: 0.9s;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.nav__Router > a:nth-child(1) {
  width: 500px;
}
.nav__Router > a:nth-child(5) {
  width: 500px;
}
.nav__Router > a:nth-child(1).active,
.nav__Router > a:nth-child(5).active {
  background: linear-gradient(
    62.26deg,
    rgba(253, 186, 92, 0.9) -9.41%,
    rgba(235, 213, 183, 0.9) 18.58%,
    rgba(255, 149, 0, 0) 88.01%
  );
}
.nav__Router > a.active {
  background: linear-gradient(
    278.99deg,
    #fdba5c -10.27%,
    #bd9762 50.92%,
    rgba(255, 149, 0, 0) 145.15%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.nav__Router-phone-mode {
  font-family: "Kanit", sans-serif;
  display: none;
}
.ShowPage {
  width: 100%;
  min-height: 100vh;
  background: url(../Components/Imgs/mainImgs/homeBg.png) center / cover;
}
.nav__Language-Btn {
  position: absolute;
  right: 35px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  user-select: none;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  transition: 0.5s;
  font-size: 23px;
}
.nav__Language-Btn:active {
  scale: 0.8;
}
/* Navbar End */
/* Footer Start */
.Footer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  height: 136px;
  background: #222222;
  box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.5);
}
.footer__left {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer__left > img {
  width: 183px;
}
.footer__left-adress {
  width: 290px;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "Kanit", sans-serif;
  font-weight: 100 !important;
  font-size: 25px;
  line-height: 95%;
  color: #ebc17c;
}
.footer__right {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 56px;
}
.footer__right-number {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25.3px;
  line-height: 135%;
  color: #ebc17c;
}
.footer__right-follow {
  display: flex;
  align-items: center;
  gap: 25px;
  height: 100%;
}
.footer__right-follow > img {
  cursor: pointer;
}
/* Footer End */

/* Home Start */
.Home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home__Left {
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 78px;
  line-height: 120%;
  color: #fff;
  width: 60%;
  padding: 0 0 0 245px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home__Left:hover {
  background: linear-gradient(45deg, #000, #fff);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: an_1 2s ease-in infinite;
}
@keyframes an_1 {
  100% {
    background-position: -200%;
  }
}
.home__Right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 250px 0 0;
  justify-content: center;
  text-align: center;
  gap: 15px;
}
.home-calcIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 84px;
  padding: 19px;
  border-radius: 50%;
  background: linear-gradient(
    246.23deg,
    #f6cb8d 6.55%,
    #e6dcce 50.06%,
    #ffca7e 89.44%
  );
}
.home__Inputs-box {
  width: 540px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.home-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #bd9762;
  padding: 5px 10px;
  background: #ffffff33;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  gap: 5px;
  position: relative;
}
.home-input::after {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 98%;
  left: 1%;
  background: #ffffff9a;
  border-radius: 5px;
  height: 3px;
}
.home-input > input {
  width: 100%;
  background: transparent;
  border: none;
  padding: 10px;
  font-size: 18px;
}
.home-input > input::-webkit-input-placeholder {
  color: #fff;
  font-weight: 500;
}
.home__secondaryInputs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.home-input__secondary {
  width: auto;
  height: 52px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid #bd9762;
  background: #ffffff33;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  position: relative;
}
.home-input__secondary::after {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 98%;
  left: 1%;
  background: #ffffff9a;
  border-radius: 5px;
  height: 3px;
}
.home-input__secondary > input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80%;
  background: transparent;
  border: none;
  font-size: 18px;
}
.home-input__secondary > input::-webkit-input-placeholder {
  color: #fff;
  font-weight: 500;
}
.home__right-btn {
  width: 90%;
  background: linear-gradient(-45deg, #d19a4d 8.49%, #ffe1b7 99.64%);
  background-size: 200%;
  border-radius: 5px;
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 135%;
  color: #ffffff;
  border: none;
  padding: 8px;
  transition: all 0.5s ease;
}
.home__right-btn:active {
  scale: 0.9;
}
.home__right-btn:hover {
  background-position: -100%;
}
/* Home End */
/* AboutUs Start */
.AboutUs {
  width: 100%;
  min-height: 100vh;
  padding: 200px;
  background: #222222;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  justify-content: center;
}
.aboutUs-Before {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  padding-left: 45px;
}
.aboutUs-Before > h1 {
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 78.2632px;
  line-height: 120.02%;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.as-Before__content-img {
  width: 50%;
  border-top-left-radius: 350px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.as-Before__content-img > img {
  width: 100%;
  height: 100%;
}
.aboutUs-After {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 110px;
}
.aboutUs-After__video-box {
  width: 40%;
  height: 80%;
  background: #2e2e2e;
  border-radius: 27px 27px 0px 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 60px;
  cursor: pointer;
}
.aboutUs-After__content {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
}
.aboutUs-After__content > h1 {
  font-family: "Kanit", sans-serif;
  font-size: 35px;
  line-height: 52px;
  text-align: center;
  color: #ffffff;
}
.aboutUs-After__content > p {
  font-family: "Kanit", sans-serif;
  font-size: 25px;
  line-height: 37px;
  color: #ffffff;
}
/* AboutUs End */
/* For Refence Start*/
.ForReference {
  width: 100%;
  min-height: 100vh;
  padding: 300px 300px 150px;
  background: #222222;
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  gap: 50px;
  color: #fff;
}
.ForReference-Left {
  width: 520px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.ForReference-left__content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ForReference-left__content > h1 {
  font-size: 35px;
  line-height: 52px;
}
.ForReference-left__content > p {
  font-size: 25px;
  line-height: 37px;
}
.ForReference-left__contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.ForReference-contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}
.ForReference-contact > img {
  width: 30px;
}
.ForReference-contact > div > h1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 135.02%;
  color: #ffffff;
}
.ForReference-Right {
  width: 750px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}
.ForReference-Right__two-inputs {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}
.ForReference-Right__two-inputs > input {
  border: 1px solid #ebc17c;
  height: 60px;
  background: transparent;
  padding-left: 30px;
  width: 50%;
  color: #fff;
  font-size: 20px;
}
.ForReference-Right__two-inputs > input::placeholder,
.massage-Input > input::placeholder {
  font-family: "Kanit";
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.massage-Input {
  width: 100%;
  height: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.massage-Input > input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #ebc17c;
  padding-left: 30px;
  color: #fff;
  font-size: 20px;
}
.ForReference-Right > button {
  background: linear-gradient(269.17deg, #d19a4d 8.49%, #ffe1b7 99.64%);
  border-radius: 5px;
  padding: 6px 80px;
  color: #fff;
  font-size: 25px;
  border: none;
}
/* For Refence End*/
<<<<<<< HEAD

/* For Xizmatlar Start */

.hizmatlar_ota {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  font-size: 20px;
  background-color: rgba(34, 34, 34, 1);
  color: #ffffff;
}

.xizmatlar_ortaga {
  display: flex;
  flex-direction: column;
  padding: 100px;
  gap: 50px;
}

.hizmatlar_top {
  display: flex;
  color: #ffffff;
}

.hizmatlar_top > h1 {
  font-weight: 300;
  font-size: 50px;
  line-height: 120.02%;
}

.hizmatlar_cards {
  display: flex;
  gap: 30px;
}

.hizmatlar_card {
  width: 471px;
  height: 290px;
  padding: 25px;
  background: #222222;
  box-shadow: 2px 4px 27px 2px rgba(0, 0, 0, 0.15);
  border-radius: 29px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hizmatlar_card_top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hizmatlar_card_top > h3 {
  font-weight: 500;
  font-size: 25px;
  line-height: 112.5%;
}

.hizmatlar_card_top > img {
  width: 80px;
  height: 50px;
}

.hizmatlar_card_text {
  width: 343px;
  height: 119px;
}

.hizmatlar_card_text > p {
  font-weight: 275;
  font-size: 15px;
  line-height: 22px;
}

.xizmatlar_bottom {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.hamkorlar_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 50px;
}

/* For Xizmatlar End */
=======
/* Gallary Start */
.Gallery{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 200px 175px;
  gap: 15px;
  background: #222222;
  z-index: 0;
}
.gallery-Img__Box{
  width: 365px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.gallery-Img__Box > img{
  width: 364px;
  height: 481px;
}
.gallery-Img__Box > img:hover{
  scale: 1.1;
}
.gallery-Img__Box > img{
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}
/* Gallary End */
>>>>>>> f11889fa39e2bba9e78011cab4f6f9832798b0c3
